@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
	body {
		background-color: var(--color-bg-primary);
		color: var(--color-text-primary);
	}
}

@theme {
	--color-bg-primary: #f3f4f6;
	--color-bg-secondary: #ffffff;
	--color-text-primary: #000000;
	--color-text-secondary: #364153;
	--color-text-third: #6a7282;
	--color-border-primary: #d1d5dc;
}

[data-theme='dark'] {
	--color-bg-primary: #1d232a;
	--color-bg-secondary: #191e24;
	--color-text-primary: #ffffff;
	--color-text-secondary: #d1d5dc;
	--color-text-third: #99a1af;
	--color-border-primary: #364153;
}

@layer utilities {
	.loading-spinner {
		@apply size-6 animate-spin rounded-full border-2 border-text-primary border-t-transparent;
	}

	@keyframes slide-in {
		0% {
			transform: translateY(50%);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.animate-slide-in {
		animation: slide-in 0.3s ease-out forwards;
	}

	@keyframes slide-out {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		100% {
			transform: translateY(50%);
			opacity: 0;
		}
	}

	.animate-slide-out {
		animation: slide-out 0.2s ease-in forwards;
	}
}
