@import 'tailwindcss';

@layer utilities {
	@keyframes slide-in {
		0% {
			transform: translateY(50%);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.animate-slide-in {
		animation: slide-in 0.3s ease-out forwards;
	}

	@keyframes slide-out {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		100% {
			transform: translateY(50%);
			opacity: 0;
		}
	}

	.animate-slide-out {
		animation: slide-out 0.2s ease-in forwards;
	}
}
